# Godot 4+ specific ignores
GodotProject/.godot/
GodotProject/android/

# Godot-specific ignores
GodotProject/.import/
GodotProject/export.cfg
GodotProject/export_presets.cfg

# Tmp Files
*.tmp

# Project
GodotProject/addons/godotopenxrvendors
GodotProject/addons/debug_draw_3d