# Godot 4+ Specific ignores
GodotProject/.godot/
GodotProject/android/
GodotProject/openxr_action_map.tres

# Tmp Files
*.tmp

# Project Specific Ignores
GodotProject/addons/godotopenxrvendors
GodotProject/addons/debug_draw_3d
